/* Button */
.button {
   border-radius: 8px;
   background-color: #00798a;

   transition: all 0.3s;

   padding-inline: 16px;
   padding-block: 8px;

   text-align: center;
   color: #fff;

   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   
}

.button:hover {
   background-color: #006977;
}

.button--mini {
   font-size: 14px;
   font-weight: 500;
   padding-inline: 16px;
   padding-block: 8px;
   line-height: 1.43;
}

.button--transparent {
   background-color: transparent;
   color: #212121;
}

.button--transparent:hover {
   color: #fff;
}

.button--white-border {
   background-color: transparent;
   border: 2px solid #fff;
}

.button--white-border:hover {
   border: 2px solid #6b24ae;
}

/* ------------------------- */