@import url('fonts.css');
@import url('reset.css');
@import url('components.css');

body {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #212121;
   background-color: #FFFFFF;
   
}

.wrapper {
   display: flex;
   flex-direction: column;
   block-size: 100%;
}
.wrapper > main {
   flex-grow: 1;
}

/* Ограничивающий контейнер */
[class*="__container"] {
   max-inline-size: 1230px;
   margin-inline: auto;
   padding-inline: 15px;
   
}

/* header */
.header__container {
max-inline-size: 1512px;
display: grid;
align-items: center;
grid-template-columns: auto 1fr auto;
padding-block: 11px;
padding-inline: 30px;
gap: 30px;
}

@media (max-width: 1300px) {
.header__container {
      max-inline-size: 1230px;
      
   }
}

.search-form {
   max-inline-size: 592px;
}

.search-form__item {
   display: flex;
   border: 1px solid #d9d9d9;
   border-radius: 8px;
   position: relative;
}

.search-form__input {
   flex-grow: 1;
   padding: 10px;
   
}
.search-form__input::placeholder{
padding-left: 25px;
color: #707070;
}

input.search-form__input {
   background-image: url('/assets/img/svg/search_grey.svg');
   background-repeat: no-repeat;
   background-position: 5px center;
}

input.search-form__input:not(:placeholder-shown) {
   background-image: none;
 
}

.search-form__location {
   padding: 10px 17px;
   border-left: 1px solid #d9d9d9;
   font-size: 16px;
   color: #000;
}

.search-form__button {
   border-radius: 0 8px 8px 0;
   background-color: #f44336;
   padding: 10px 10px;
   cursor: pointer;
   
}

.search-form__button:hover {
   background-color: #d32f2f;
}


.actions-header__link-language {
   display: inline-flex;
   align-items: center;
   gap: 4px;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.43;
   text-align: center;
   color: #212121;
}

.actions-header__link-language:hover {
   color: #006977;
 }

.actions-header__link-language:hover .svg-language {
   fill: #006977;
}

.actions-header {
   display: flex;
   column-gap: 5px;
   align-items: center;
   flex-wrap: wrap;
}

/* maim */
/* section meetup */
[class*="__display"] {
   margin-top: 65px;
}
.meetup__display {
   display: grid;
   grid-template-columns: 1fr 45%;
   column-gap: 55px;
   
}

.meetup__content {
display: flex;
flex-direction: column;
gap: 25px;
}



/* section events */
.evens__header {
   display: grid;
   grid-template-columns: auto auto 1fr;
   gap: 16px;
   align-items: center;
    
}
.event-link {
justify-self: end;
}
.location {
display: flex;
gap: 15px;
background: rgba(151, 202, 209, 0.12);
padding: 11px 12px 8px 12px;
border-radius: 8px;
}
.events__items {
   margin-top: 26px;
   display: grid;
   gap: 36px;
   grid-template-columns: repeat(auto-fill, minmax(min(272px, 100%), 1fr));
}

.item-event__link-image {
   display: block;
   overflow: hidden;
   border-radius: 8px;
}

.item-event__image {
   transition: transform 0.5s;
   width: 100%;
   object-fit: cover;
}

.item-event__image:hover {
   transform: scale(1.05);
}

.date, .info, .going, .free {
   display: flex;
   gap: 6px;
}

.info
 {
   display: flex;
   gap: 15px;
   margin-top: 4px;
}
.item-event__body{
   margin-top: 12px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

/* section events-online */
.evens-online__header {
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;

}

.event-online-link {
   justify-self: end;
}

/* section membership */
.membership__display {
   display: grid;
   grid-template-columns: 1fr 35%;
   column-gap: 55px;
   background: rgba(151, 202, 209, 0.08);
   border-radius: 8px;
   padding: 36px 56px;


}

.membership__content {
   display: flex;
   flex-direction: column;
   gap: 25px;
}


@media (max-width: 393px) {
  .header__search {
   display: none;
  }

   .meetup__display {
   grid-template-columns: 1fr;
   row-gap: 20px;
   }
   .event-link {
      display: none;
   }
   .title_h2 {
      font-size: 20px;
   }
   .title_h3 {
      font-size: 13px;
   }

   .location img {
      width: 16px;
      height: 16px;
   }
}